<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <span class="navbar-brand kode-mono-500">NextChat</span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown-center">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle h2"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-danger fw-bold" href="#" (click)="logout()">Sair</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
