<div class="card mt-3 placeholder-glow" *ngIf="conversaId">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <i class="bi bi-person-circle h2 mb-0"></i>
            <h6 class="mb-0" [ngClass]="carregando ? 'placeholder' : ''">{{ model?.titulo }}</h6>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center align-items-center pt-1 gap-1" *ngIf="carregando">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="carregando"></span>
            Buscando mensagens...
        </div>
        <div class="d-flex justify-content-center align-items-center pt-1" *ngIf="!model?.mensagens?.length && !carregando">
            <p class="h4">Nenhuma mensagem.</p>
        </div>
        <ul>
            <li class="list-group-item" *ngFor="let mensagem of model?.mensagens">
                <div class="d-flex justify-content-start align-items-center gap-2" *ngIf="mensagem.remetenteId === usuarioId">
                    <i class="bi bi-person-circle h2 mb-0"></i>
                    <div class="d-flex flex-column text-bg-primary px-2 py-1 rounded">
                        <span>{{ mensagem.texto }}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center gap-2" *ngIf="mensagem.remetenteId !== usuarioId">
                    <div class="d-flex flex-column text-bg-primary px-2 py-1 rounded">
                        <span>{{ mensagem.texto }}</span>
                    </div>
                    <i class="bi bi-person-circle h2 mb-0"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset [disabled]="carregando">
                <div class="row">
                    <div class="col-11">
                        <input type="text" formControlName="mensagem" class="form-control" placeholder="Digite uma mensagem">
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
